# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache
coverage.xml

# Sphinx documentation
docs/_build/

# virtualenv
venv/

# pipenv
.venv/
Pipfile.lock

# Project files
.idea/

# Misc
.DS_Store
